{# templates/profile/profile.html.twig #}
{% extends 'base.html.twig' %}

{% block style %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit profil</title>
</head>
{% endblock %}

{% block body %}
<body>
    <div class="container">
        HELLO THIS IS WORKING
    </div>
</body>
{% endblock %}