{# templates/home/home.html.twig #}
{% extends 'base.html.twig' %}

{% block style %}
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TUSMO</title>   
    </head>
{% endblock %}
    
{% block body %}
    <body>
        {% if app.user %}
        <div class="container">
            <p class="logout">
                Hello {{ app.user.username }} 👋
            </p>
        <div>
        {% endif %}
        
        <div class="container">
            <div class="header">TUSMO</div>

            <a class="homebutton" href="/daily">DAILY WORD</a>
            <a class="homebutton" href="/dailystreak">DAILY STREAK</a>
            <a class="homebutton" href="/solo">SOLO</a>
            <a class="homebutton" href="/profile">SETTINGS</a>
            <a class="logout" href="{{ path('app_logout') }}">LOG OUT</a>
        </div>
    </body>
{% endblock %}