{# templates/daily/daily.html.twig #}
{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('daily') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('daily') }}
{% endblock %}

{% block style %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily Word</title>
</head>
{% endblock %}

{% block body %}
<body>
        {# <div id="app">
            <h1>Wordle Game</h1>
            <p id="word-display">_ _ _ _ _</p>
            <input type="text" id="guess-input" placeholder="Enter your guess">
            <button id="submit-button">Submit Guess</button>
            <p id="result"></p>
        </div> #}
        <h1>Compteur Hexadécimal</h1>
        <p id="counter">0</p>
        <button id="incrementButton">Incrémenter</button>
</body>
{% endblock %}